<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>





    <p>1) Test Image</p>
    <form action="/model/post/image" method="post" enctype="multipart/form-data">
      <input name="pic" type="file" accept="image/*">
      <input type="submit">
    </form>
    
    <br>
    <hr>

    <p>2) Test URL</p>
    <form action="/model/post/url" method="post">
      <input name="url" type='text' style='width: 248px;'></input>
      <input type="submit">
    </form>

    <br>
    <hr>
     

     <% if(locals.content) {%>
      <p>Result: <%= JSON.stringify(content) %></p>
    <% } %>
  </body>
</html>
